<h2>Listing categories</h2>

<table calss="striped" >
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.active %></td>
    <td><%= link_to 'Show', category, :class=> "waves-effect waves-light btn light-blue" %></td>
    <td><%= link_to 'Edit', edit_category_path(category), :class=> "waves-effect waves-light btn light-blue"  %></td>
    <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete, :class=> "waves-effect waves-light btn red" %></td>
  </tr>
<% end %>
</table>

<span class="paginate">
<%= will_paginate @authors, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>
<br />

<%= link_to 'New Category', new_category_path %>
